@model IEnumerable<OnYourWay.Models.DBTables.Trip>
@{
    OnYourWay.Controllers.BaseController b = new OnYourWay.Controllers.BaseController();
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>الرحلات</title>
</head>
<body>
    <div class="panel panel-flat">
        <div class="panel-body">
            <label style="right: 30px;" class="label label-info">@(Model.FirstOrDefault() != null ? Model.FirstOrDefault().Offer.Client.Name : "")</label>
            <table id="mytable" class="table datatable-responsive table-bordered table-striped table-hover">
                <thead class="bg-info-700">
                    <tr>
                        <th>اسم الزبون</th>
                        <th>نوع الرحلة</th>
                        <th>الحالة</th>
                        <th>المدينة</th>
                        <th>البداية</th>
                        <th>النهاية</th>
                        
                    </tr>
                </thead>
                <tbody id="mylst">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.Customer.Name</td>
                        <td>@(item.CategoryID!=null?item.MainCategory.NameAR:"")</td>
                        <td>@(b.TripStatusName("ar", item.Status))</td>
                        <td>@(item.StartPoint)</td>
                        <td>@(item.Start)</td>
                        <td>@(item.End)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#users>ul").css("display", "block");
            $("#users").addClass("active");
            $("#ShowClients,#ShowClients>ul>li:nth-child(1)").addClass("active");
            var table = $("#mytable").DataTable();
        });



    </script>
</body>
</html>
